mem.*
*.class
# Package Files #
*.jar
*.war
*.ear
.classpath
.project
.settings/
target/
.springBeans
*.ucls
.lock
version.ini
.log
*.log
properties.index
workingsets.xml
.metadata/
MANIFEST.MF
.idea/
*.iml
.DS_Store
